.lable-display {
    display: flex;
    gap: 10;
}

.lable-display h3 {
    padding-right: 5px;
}

.form-item {
    display: flex;
}

.search-result {
    margin-top: 10px;
}

.primary-color {
background-color: rgb(9,62,150);
}

.grade-form {
    margin-top: 10px;
}

.submit {

}