<div class="contact-person-form-container">
  <!-- Form Header -->
  <div class="form-header">
    <div class="header-icon">
      <i nz-icon nzType="user" nzTheme="outline"></i>
    </div>
    <div class="header-content">
      <h2 class="form-title">Contact Person Information</h2>
      <p class="form-subtitle">Please provide details of your emergency contact person</p>
    </div>
  </div>

  <!-- Form Content -->
  <form nz-form [formGroup]="applicantContactPersonForm" class="contact-form">
    <!-- Full Name Field -->
    <nz-form-item>
      <nz-form-label [nzSpan]="8">
        <i nz-icon nzType="user" nzTheme="outline" class="field-icon"></i>
        Full Name <span style="color: red;">*</span>
      </nz-form-label>
      <nz-form-control [nzSpan]="16" [nzValidateStatus]="''" [nzErrorTip]="fullNameErrorTpl">
        <input 
          nz-input 
          formControlName="fullName" 
          placeholder="Enter the full name of your contact person"
          class="form-input"
          [class.error]="fullName.invalid && (fullName.dirty || fullName.touched)" 
        />
        <ng-template #fullNameErrorTpl let-control>
          <div class="error-message" *ngIf="control.hasError('required')">
            <i nz-icon nzType="exclamation-circle" nzTheme="fill"></i>
            Full name is required
          </div>
          <div class="error-message" *ngIf="control.hasError('invalidChars')">
            <i nz-icon nzType="exclamation-circle" nzTheme="fill"></i>
            {{ control.getError('invalidChars').message }}
          </div>
          <div class="error-message" *ngIf="control.hasError('alphabetsOnly')">
            <i nz-icon nzType="exclamation-circle" nzTheme="fill"></i>
            Full name should contain only alphabets
          </div>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <!-- Telephone Office Field -->
    <nz-form-item>
      <nz-form-label [nzSpan]="8">
        <i nz-icon nzType="phone" nzTheme="outline" class="field-icon"></i>
        Cell Phone <span style="color: red;">*</span>
      </nz-form-label>
      <nz-form-control [nzSpan]="16" [nzValidateStatus]="''" [nzErrorTip]="officePhoneErrorTpl">
        <input 
          nz-input 
          formControlName="telephoneOffice" 
          placeholder="Enter office phone number"
          class="form-input"
          [class.error]="telephoneOffice.invalid && (telephoneOffice.dirty || telephoneOffice.touched)" 
        />
        <ng-template #officePhoneErrorTpl let-control>
          <div class="error-message" *ngIf="control.hasError('required')">
            <i nz-icon nzType="exclamation-circle" nzTheme="fill"></i>
            Cell phone is required
          </div>
          <div class="error-message" *ngIf="control.hasError('invalidPhoneNumber')">
            <i nz-icon nzType="exclamation-circle" nzTheme="fill"></i>
            {{ control.getError('invalidPhoneNumber').message }}
          </div>
          <div class="error-message" *ngIf="control.hasError('pattern')">
            <i nz-icon nzType="exclamation-circle" nzTheme="fill"></i>
            Please enter a valid phone number format
          </div>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <!-- Telephone Home Field -->
    <nz-form-item>
      <nz-form-label [nzSpan]="8">
        <i nz-icon nzType="home" nzTheme="outline" class="field-icon"></i>
        Home Phone
      </nz-form-label>
      <nz-form-control [nzSpan]="16" [nzValidateStatus]="''" [nzErrorTip]="homePhoneErrorTpl">
        <input 
          nz-input 
          formControlName="telephoneHome" 
          placeholder="Enter home phone number"
          class="form-input"
          [class.error]="telephoneHome.invalid && (telephoneHome.dirty || telephoneHome.touched)" 
        />
        <ng-template #homePhoneErrorTpl let-control>
          <div class="error-message" *ngIf="control.hasError('invalidPhoneNumber')">
            <i nz-icon nzType="exclamation-circle" nzTheme="fill"></i>
            {{ control.getError('invalidPhoneNumber').message }}
          </div>
          <div class="error-message" *ngIf="control.hasError('pattern')">
            <i nz-icon nzType="exclamation-circle" nzTheme="fill"></i>
            Please enter a valid phone number format
          </div>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <!-- Relation Field -->
    <nz-form-item>
      <nz-form-label [nzSpan]="8">
        <i nz-icon nzType="team" nzTheme="outline" class="field-icon"></i>
        Relationship <span style="color: red;">*</span>
      </nz-form-label>
      <nz-form-control [nzSpan]="16" [nzValidateStatus]="''" [nzErrorTip]="relationErrorTpl">
        <nz-select 
          formControlName="relation" 
          nzPlaceHolder="Select relationship to applicant"
          nzShowSearch="true"
          nzAllowClear="true"
          class="form-select"
          [class.error]="relation.invalid && (relation.dirty || relation.touched)"
        >
          <nz-option nzValue="Relative" nzLabel="Relative">
            <i nz-icon nzType="heart" nzTheme="outline"></i>
            Relative
          </nz-option>
          <nz-option nzValue="Employer" nzLabel="Employer">
            <i nz-icon nzType="briefcase" nzTheme="outline"></i>
            Employer
          </nz-option>
          <nz-option nzValue="Other" nzLabel="Other">
            <i nz-icon nzType="user" nzTheme="outline"></i>
            Other
          </nz-option>
        </nz-select>
        <ng-template #relationErrorTpl let-control>
          <div class="error-message" *ngIf="control.hasError('required')">
            <i nz-icon nzType="exclamation-circle" nzTheme="fill"></i>
            Relationship is required
          </div>
          <div class="error-message" *ngIf="control.hasError('invalidSelection')">
            <i nz-icon nzType="exclamation-circle" nzTheme="fill"></i>
            Please select a valid relationship
          </div>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <!-- Form Actions -->
    <div class="form-actions">
      <div class="action-buttons">
        <button 
          nz-button 
          nzType="default" 
          (click)="closeModal()"
          class="cancel-btn"
        >
          <i nz-icon nzType="close" nzTheme="outline"></i>
          Cancel
        </button>
        <button 
          nz-button 
          nzType="primary" 
          (click)="onSubmit()"
          [disabled]="applicantContactPersonForm.invalid"
          class="submit-btn"
        >
          <i nz-icon nzType="save" nzTheme="outline"></i>
          {{ contactId ? 'Update' : 'Save' }} Contact
        </button>
      </div>
    </div>
  </form>
</div>