.login,
.button a {
    margin: 6px;
    border-radius: 30px;
}

.button {
    float: right;
    padding-right: 15px;
    padding-top: 10px;
}

.logo {
    padding-left: 10px;
}

.header {
    padding: 5px;
    border-bottom: 5px solid whitesmoke;
    position: fixed;
    padding: 5px 0 0 5px;
    width: 100%;
    top: 0px;
    height: 80px;

}