<app-profile-summary></app-profile-summary>
<nz-card style="margin-top: 10px;">
    <nz-tabset class="custom-tabset" nzType="card" style="padding: 20px;">
        <nz-tab nzTitle="Registered Courses" class="custom-tab">
            <app-registered-semester-courses></app-registered-semester-courses>
        </nz-tab>

        <nz-tab nzTitle="Add-Drop Courses" class="custom-tab">
            <app-add-drop-course-list></app-add-drop-course-list>
        </nz-tab>

        <nz-tab nzTitle="Transfered Courses" class="custom-tab">
            <app-transfred-courses></app-transfred-courses>
        </nz-tab>

        <nz-tab nzTitle="Withdrawal" class="custom-tab">
            <app-withdrawal></app-withdrawal>
        </nz-tab>

    </nz-tabset>
</nz-card>