
.student {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  padding-right: 5px;
}


.activ-status{
    color: green;
    padding-left: 10px;
}
.inactiv-status{
    color: red;
    padding-left: 10px;
}


.fixed_header tbody{
    display:block;
    overflow:auto;
    height:150px;
    width:100%;
   
  }
  .fixed_header thead tr{
    display:block;
  }

  .main-color {
    background-color: rgb(9,62,150);
  }

@media print {
  .select-div {
    display: none;
  }
}
