<div class="main">
  <div *ngIf="isUserApprovedApplicant ">
    <app-student-dashboard></app-student-dashboard>
  </div>

  <div *ngIf="isUserStudent && !isUserApprovedApplicant">
    <app-student-profile-summary></app-student-profile-summary>
  </div>

  <div *ngIf="isUserAdmin && !isUserInstructor">
    <!-- <app-admin-dashboard></app-admin-dashboard> -->
    <app-student-profile-summary></app-student-profile-summary>
  </div>

  <div *ngIf="!isUserAdmin && !isUserStudent && !isUserApprovedApplicant">
    <app-admin-dashboard></app-admin-dashboard>
  </div>
</div>