
<h3 class="h-tag">{{action}}</h3>

<div>
    <form nz-form  nzLayout="vertical" [formGroup]="staffForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Student</nz-form-label>
        <nz-form-control [nzSpan]="7" nzValidatingTip="Validating...">
          <nz-select formControlName="studentID" nzPlaceHolder="select curriculum" >
              <nz-option *ngFor="let item of students" [nzValue]="item.studentId" [nzLabel]="item.applicant.firstName + ' ' + item.applicant.fatherName "></nz-option>
            </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Course</nz-form-label>
        <nz-form-control [nzSpan]="7" nzValidatingTip="Validating...">
          <nz-select formControlName="courseCode" nzPlaceHolder="select curriculum" >
              <nz-option *ngFor="let item of courses" [nzValue]="item.courseCode" [nzLabel]="item.courseTitle"></nz-option>
            </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Term Course Offering</nz-form-label>
        <nz-form-control [nzSpan]="7" nzValidatingTip="Validating...">
          <nz-select formControlName="termOfferingID" nzPlaceHolder="select curriculum" >
              <nz-option *ngFor="let item of termCourseOfferings" [nzValue]="item.id" [nzLabel]="item.remark"></nz-option>
            </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>No Of Days Present</nz-form-label>
        <nz-form-control [nzSpan]="7">
          <input nz-input formControlName="noOfDaysPresent" placeholder="enter no of days present" />
        </nz-form-control>
      </nz-form-item>
   
        <nz-form-item>  
          <nz-form-label [nzSpan]="7" nzRequired>Remark</nz-form-label>
          <nz-form-control [nzSpan]="7">
            <input nz-input formControlName="remark" placeholder="enter remark" />
          </nz-form-control>
        </nz-form-item>
       
        <nz-form-item>
          <nz-form-control [nzOffset]="7" [nzSpan]="7">
            <button nz-button nzType="primary">{{submit}}</button>
          </nz-form-control>
        </nz-form-item>
      </form>
</div>
