.th-row {
  color: rgb(23, 131, 198);
  font-size: 14px;
}
.attachment {
  color: rgb(23, 131, 198);
}
.review-waiting {
  float: right;
  //font-size: 30px;
  color: rgb(23, 131, 198);
}
.review-success {
  float: right;
  //font-size: 30px;
  color: green;
}

.review-rejected {
  float: right;
  //font-size: 30px;
  color: red;
}

.custom-card {
  padding: 5px;
}

/* Adjust the form width to create space around the form */
form {
  width: 100%; /* You can adjust the width as per your design */
}
