<div class="container">
    <div class="form-card">
        <div class="form-header">
            <div class="form-icon">
                <i nz-icon nzType="edit" nzTheme="outline"></i>
            </div>
            <div class="form-title">
                <h4>Grade Change Request</h4>
                <p>Submit a request to change a student's grade</p>
            </div>
        </div>

        <div class="form-content">
            <nz-spin [nzSpinning]="loading">
                                <form nz-form nzLayout="vertical" [formGroup]="gradeChangeRequestForm" (ngSubmit)="onSubmit()" class="grade-change-form">
                    <div class="form-section">
                        <h3 class="section-title">Student Information</h3>
                        <div class="form-row">
                            <div class="form-col">
                                <nz-form-item>
                                    <nz-form-label nzRequired>Student</nz-form-label>
                                    <nz-form-control nzErrorTip="Please select a student">
                                    <nz-select 
                                        formControlName="studentId" 
                                        nzPlaceHolder="Select a student"
                                        nzShowSearch
                                        [nzFilterOption]="filterStudentOption">
                                        <nz-option 
                                            *ngFor="let student of studentList" 
                                            [nzValue]="student.id" 
                                            [nzLabel]="student.firstName + ' ' + student.lastName">
                                        </nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                                                    <div class="form-col">
                                <nz-form-item>
                                    <nz-form-label nzRequired>Curriculum</nz-form-label>
                                    <nz-form-control nzErrorTip="Please select a curriculum">
                                    <nz-select 
                                        formControlName="curriculumId" 
                                        nzPlaceHolder="Select a curriculum"
                                        (ngModelChange)="onCurriculumChange($event)">
                                        <nz-option 
                                            *ngFor="let curriculum of curricula" 
                                            [nzValue]="curriculum.id" 
                                            [nzLabel]="curriculum.curriculumCode">
                                        </nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                </div>

                <div class="form-section">
                    <h3 class="section-title">Course Information</h3>
                    <div class="form-row">
                                                    <div class="form-col">
                                <nz-form-item>
                                    <nz-form-label nzRequired>Course</nz-form-label>
                                    <nz-form-control nzErrorTip="Please select a course">
                                    <nz-select 
                                        formControlName="courseId" 
                                        nzPlaceHolder="Select a course"
                                        nzShowSearch
                                        [nzFilterOption]="filterCourseOption">
                                        <nz-option 
                                            *ngFor="let course of courses" 
                                            [nzValue]="course.id" 
                                            [nzLabel]="course.courseCode + ' - ' + course.courseTitle">
                                        </nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                                                    <div class="form-col">
                                <nz-form-item>
                                    <nz-form-label nzRequired>Academic Term</nz-form-label>
                                    <nz-form-control nzErrorTip="Please select an academic term">
                                    <nz-select 
                                        formControlName="academicTermId" 
                                        nzPlaceHolder="Select an academic term">
                                        <nz-option 
                                            *ngFor="let term of listOfTermNumber" 
                                            [nzValue]="term.Id" 
                                            [nzLabel]="term.Description">
                                        </nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                    <div class="form-row">
                                                    <div class="form-col">
                                <nz-form-item>
                                    <nz-form-label>Academic Year</nz-form-label>
                                    <nz-form-control>
                                    <nz-select 
                                        formControlName="academicYear" 
                                        nzPlaceHolder="Select academic year">
                                        <nz-option 
                                            *ngFor="let year of yearList" 
                                            [nzValue]="year" 
                                            [nzLabel]="year.toString()">
                                        </nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                </div>

                <div class="form-section">
                    <h3 class="section-title">Grade Information</h3>
                    <div class="form-row">
                                                                                <div class="form-col">
                                <nz-form-item>
                                    <nz-form-label nzRequired>Previous Grade</nz-form-label>
                                    <nz-form-control nzErrorTip="Please select a valid grade">
                                        <nz-select 
                                            formControlName="previousGrade" 
                                            nzPlaceHolder="Select previous grade">
                                            <nz-option 
                                                *ngFor="let grade of gradeList" 
                                                [nzValue]="grade" 
                                                [nzLabel]="grade">
                                            </nz-option>
                                        </nz-select>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                                                                                <div class="form-col">
                                <nz-form-item>
                                    <nz-form-label nzRequired>New Grade</nz-form-label>
                                    <nz-form-control nzErrorTip="Please select a valid grade">
                                        <nz-select 
                                            formControlName="newGrade" 
                                            nzPlaceHolder="Select new grade">
                                            <nz-option 
                                                *ngFor="let grade of gradeList" 
                                                [nzValue]="grade" 
                                                [nzLabel]="grade">
                                            </nz-option>
                                        </nz-select>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                    </div>
                    <div class="form-row">
                        <div class="form-col full-width">
                            <nz-form-item>
                                <nz-form-label>Reason for Change</nz-form-label>
                                <nz-form-control>
                                    <textarea 
                                        nz-input 
                                        formControlName="reason" 
                                        [nzAutosize]="{ minRows: 3, maxRows: 6 }"
                                        placeholder="Please provide a detailed reason for the grade change request...">
                                    </textarea>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                </div>

                <div class="action-section">
                    <button 
                        nz-button 
                        nzType="default" 
                        (click)="onCancel()" 
                        [disabled]="loading">
                        Cancel
                    </button>
                    <button 
                        nz-button 
                        nzType="primary" 
                        type="submit" 
                        [nzLoading]="loading"
                        [disabled]="gradeChangeRequestForm.invalid">
                        <span nz-icon nzType="save"></span>
                        Submit Request
                    </button>
                </div>
            </form>
        </nz-spin>
        </div>
    </div>
</div>
