    <form nz-form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <nz-card>
    <div nz-row [nzGutter]="24">
        <!-- Basic Information -->
      <div nz-col nzSpan="12">
        <nz-form-item class="float-label-item">
          <nz-form-control [nzErrorTip]="firstNameErrorTpl">
            <div class="float-label-container">
                  <input 
                    nz-input 
                    formControlName="firstName" 
                placeholder=" "
                [class.error]="isFieldInvalid('firstName')"
                [class.filled]="userForm.get('firstName')?.value"
                id="firstName" />
              <label for="firstName" class="float-label">
                First Name <span class="required">*</span>
              </label>
            </div>
                  <ng-template #firstNameErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                      First name is required
                    </ng-container>
                    <ng-container *ngIf="control.hasError('minlength')">
                      First name must be at least 2 characters
                    </ng-container>
                    <ng-container *ngIf="control.hasError('maxlength')">
                      First name must not exceed 50 characters
                    </ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>

        <nz-form-item class="float-label-item">
          <nz-form-control [nzErrorTip]="lastNameErrorTpl">
            <div class="float-label-container">
                  <input 
                    nz-input 
                    formControlName="lastName" 
                placeholder=" "
                [class.error]="isFieldInvalid('lastName')"
                [class.filled]="userForm.get('lastName')?.value"
                id="lastName" />
              <label for="lastName" class="float-label">
                Last Name <span class="required">*</span>
              </label>
            </div>
                  <ng-template #lastNameErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                      Last name is required
                    </ng-container>
                    <ng-container *ngIf="control.hasError('minlength')">
                      Last name must be at least 2 characters
                    </ng-container>
                    <ng-container *ngIf="control.hasError('maxlength')">
                      Last name must not exceed 50 characters
                    </ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>

        <nz-form-item class="float-label-item">
          <nz-form-control [nzErrorTip]="emailErrorTpl">
            <div class="float-label-container">
                  <input 
                    nz-input 
                    formControlName="email" 
                placeholder=" "
                [class.error]="isFieldInvalid('email')"
                [class.filled]="userForm.get('email')?.value"
                id="email" />
              <label for="email" class="float-label">
                Email Address <span class="required">*</span>
              </label>
            </div>
                  <ng-template #emailErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                      Email is required
                    </ng-container>
                    <ng-container *ngIf="control.hasError('email')">
                      Please enter a valid email address
                    </ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>

        <nz-form-item class="float-label-item">
          <nz-form-control [nzErrorTip]="phoneErrorTpl">
            <div class="float-label-container">
                  <input 
                    nz-input 
                    formControlName="phoneNumber" 
                placeholder=" "
                [class.error]="isFieldInvalid('phoneNumber')"
                [class.filled]="userForm.get('phoneNumber')?.value"
                id="phoneNumber" />
              <label for="phoneNumber" class="float-label">
                Phone Number
              </label>
            </div>
                  <ng-template #phoneErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('pattern')">
                      Please enter a valid phone number
                    </ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>

        <nz-form-item class="float-label-item">
          <nz-form-control [nzErrorTip]="rolesErrorTpl">
            <div class="float-label-container">
                  <nz-select 
                    formControlName="roleNames"
                    [nzMode]="'multiple'"
                nzPlaceHolder=" "
                    [nzLoading]="loading"
                [class.error]="isFieldInvalid('roleNames')"
                [class.filled]="userForm.get('roleNames')?.value?.length > 0"
                id="roleNames">
                    <nz-option 
                      *ngFor="let role of roles" 
                      [nzValue]="role.name" 
                      [nzLabel]="role.name">
                      <div class="role-option">
                        <span class="role-name">{{ role.name }}</span>
                        <span class="role-description" *ngIf="role.description">
                          {{ role.description }}
                        </span>
                      </div>
                    </nz-option>
                  </nz-select>
              <label for="roleNames" class="float-label">
                Roles <span class="required">*</span>
              </label>
            </div>
                  <ng-template #rolesErrorTpl let-control>
                    <ng-container *ngIf="control.hasError('required')">
                      At least one role must be selected
                    </ng-container>
                  </ng-template>
                </nz-form-control>
              </nz-form-item>
            </div>

      <!-- Security Settings -->
      <div nz-col nzSpan="12">


        <nz-form-item class="switch-item">
          <nz-form-control>
            <div class="switch-container">
              <label class="switch-label">Account Status</label>
              <div class="switch-control">
                  <nz-switch formControlName="isActive"></nz-switch>
                <span class="switch-status">
                    {{ userForm.get('isActive')?.value ? 'Active' : 'Inactive' }}
                  </span>
              </div>
            </div>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="switch-item">
          <nz-form-control>
            <div class="switch-container">
              <label class="switch-label">Email Confirmation</label>
              <div class="switch-control">
                  <nz-switch formControlName="requireEmailConfirmation"></nz-switch>
                <span class="switch-status">
                    {{ userForm.get('requireEmailConfirmation')?.value ? 'Required' : 'Not Required' }}
                  </span>
              </div>
            </div>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="switch-item">
          <nz-form-control>
            <div class="switch-container">
              <label class="switch-label">Phone Confirmation</label>
              <div class="switch-control">
                  <nz-switch formControlName="requirePhoneConfirmation"></nz-switch>
                <span class="switch-status">
                    {{ userForm.get('requirePhoneConfirmation')?.value ? 'Required' : 'Not Required' }}
                  </span>
              </div>
            </div>
          </nz-form-control>
        </nz-form-item>


      </div>
    </div>


  </nz-card>

  <div class="modal-footer">
    <button nz-button nzType="default" (click)="onCancel()" [disabled]="submitting">Cancel</button>
    <button nz-button nzType="primary" type="submit" [nzLoading]="submitting" [disabled]="userForm.invalid">
            <i nz-icon nzType="save" nzTheme="outline"></i>
            Create User
          </button>
      </div>
    </form>