<div class="auth-header">
  <div class="header-content">
    <div class="logo-section">
      <img src="../../../assets/images/logo2.png" height="50" alt="HiLCoE Logo" (click)="goToHome()" style="cursor: pointer;" />
    </div>
    <div class="navigation-section">
      <a (click)="goToHome()" class="nav-link" style="cursor: pointer;">
        <i nz-icon nzType="home" nzTheme="outline"></i>
        <span>Home</span>
      </a>
      <a (click)="goToLogin()" class="nav-link" style="cursor: pointer;">
        <i nz-icon nzType="login" nzTheme="outline"></i>
        <span>Login</span>
      </a>
      <a (click)="goToRegister()" class="nav-link" style="cursor: pointer;">
        <i nz-icon nzType="user-add" nzTheme="outline"></i>
        <span>Register</span>
      </a>
    </div>
  </div>
</div> 