<div class="auth-header">
  <div class="header-content">
    <div class="logo-section">
      <img src="../../../assets/images/logo.png" height="50" alt="HiLCoE Logo" (click)="goToHome()" style="cursor: pointer;" />
    </div>
    <div class="navigation-section">
      <a routerLink="/" class="nav-link">
        <i nz-icon nzType="home" nzTheme="outline"></i>
        <span>Home</span>
      </a>
      <a routerLink="/accounts/login" class="nav-link">
        <i nz-icon nzType="login" nzTheme="outline"></i>
        <span>Login</span>
      </a>
      <a routerLink="/accounts/register" class="nav-link">
        <i nz-icon nzType="user-add" nzTheme="outline"></i>
        <span>Register</span>
      </a>
    </div>
  </div>
</div> 