<div>
  <div>
    <div>
      <h3 class="h-tag">Acadamic Statuses</h3>
    </div>
  </div>

  <div nz-row>
    <div nz-col nzSpan="4">
      <a
        routerLink="../add-academic-status/null"
        nz-button
        nzType="primary"
        class="main-color"
      >
        <i nz-icon nzType="plus" nzTheme="outline"></i>
        <span>Acadamic Status</span></a
      >
    </div>
    <div nz-col nzSpan="4">
      <div style="float: right; margin-right: 5px">
        <button nz-button class="export main-color">
          <em nz-icon nzType="file-excel" nzTheme="outline"></em> Export
        </button>
      </div>
      <div nz-col nzSpan="4">
        <button
          class="main-color"
          nz-button
          nzType="primary"
          printTitle="."
          printSectionId="print-section"
          ngxPrint
        >
          <em nz-icon nzType="printer" nzTheme="outline"></em>Print
        </button>
      </div>
    </div>

    <div nz-col nzSpan="4" style="width: 300px">
      <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
        <input type="text" nz-input placeholder="search..." />
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch class="main-color">
          <i nz-icon nzType="search"></i>
        </button>
      </ng-template>
    </div>
  </div>

  <div id="print-section">
    <img class="logo" src="../../assets/images/logo.png" />
    <nz-table #basicTable [nzData]="academicStatuses!" nzBordered>
      <thead class="table-header-row">
        <tr class="table-header-row">
          <th class="paginate">
            <label nz-checkbox [(ngModel)]="checked">All</label>
          </th>
          <th class="th-row">Academic Status</th>
          <th class="th-row">Date</th>
          <th class="th-row">Remark</th>
          <th class="th-row paginate">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr tabindex="0" *ngFor="let data of basicTable.data; let i = index">
          <td class="paginate">
            <label nz-checkbox [(ngModel)]="checked"></label>
          </td>
          <td>{{ data.academicStatus }}</td>
          <td>{{ data.createdDate | date : "yyyy-MM-dd" }}</td>
          <td>{{ data.remark }}</td>
          <td class="paginate">
            <ng-container>
              <button
                nz-button
                nz-dropdown
                [nzDropdownMenu]="menu"
                nzPlacement="bottomLeft"
              >
                <i class="more" nz-icon nzType="more" nzTheme="outline"></i>
              </button>
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu style="padding-right: 50px">
                  <li>
                    <button nz-button nzType="default" class="detail">
                      <i nz-icon nzType="eye" nzTheme="fill"></i>
                      <span>Detail</span>
                    </button>
                  </li>
                  <li>
                    <a
                      style="border-style: none"
                      routerLink="../add-academic-status/{{ data.id }}"
                      nz-button
                      nzType="default"
                      class="edit"
                    >
                      <i nz-icon nzType="edit" nzTheme="fill"></i>
                      <span>Edit</span></a
                    >
                  </li>
                  <li>
                    <button
                      nz-button
                      nzDanger
                      nzType="default"
                      (click)="showDeleteConfirm(data.id)"
                    >
                      <i nz-icon nzType="delete" nzTheme="fill"></i>
                      <span>Delete</span>
                    </button>
                  </li>
                </ul>
              </nz-dropdown-menu>
            </ng-container>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <!-- <div>
      <button nz-button class="export" nzShape="round">
        <i nz-icon nzType="file-excel" nzTheme="outline"></i> Export(2)
      </button>
      <button
        nz-button
        class="group-delete"
        nzType="default"
        nzDanger
        nzShape="round"
      >
        <i nz-icon nzType="delete" nzTheme="fill"></i> Detele(2)
      </button>
    </div> -->
  </div>
</div>
