<h3 class="h-tag">{{ action }}</h3>

<div>
  <form
    nz-form
    nzLayout="vertical"
    [formGroup]="entryForm"
    (ngSubmit)="submitForm()"
  >
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Entry Code</nz-form-label>
      <nz-form-control [nzSpan]="7" nzValidatingTip="Validating...">
        <input
          nz-input
          formControlName="entryCode"
          placeholder="enter entry code"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Entry Term</nz-form-label>
      <nz-form-control [nzSpan]="7">
        <input
          nz-input
          formControlName="entryTerm"
          placeholder="enter entry term"
        />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="7">Remark</nz-form-label>
      <nz-form-control [nzSpan]="7">
        <input nz-input formControlName="remark" placeholder="enter remark" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzOffset]="7" [nzSpan]="7">
        <button nz-button nzType="primary" class="main-color">
          {{ submit }}
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
